<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="dns-prefetch" href="//web.archive.org/web/20190811211216/http://d2qrjeyl4jwu9j.cloudfront.net/">
        <title>Make a Character - BetterWrapper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The Character Creator from BetterWrapper - Create a character online with BetterWrapper.">
        <meta property="og:site_name" content="BetterWrapper">
        <meta property="fb:app_id" content="122508887813978">
        <meta name="google-site-verification" content="Vta3YTpj6Kx6u4p-EzeMArY0alNItkyUYYMvNM8seVI">
        <style>
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                src: local('Lato Regular'), local('Lato-Regular'), url(/ui/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
            }
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                src: local('Lato Bold'), local('Lato-Bold'), url(/ui/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
            }
        </style>
        <link rel="stylesheet" href="/lvm_files/school/css/common_combined.css">
        <link rel="stylesheet" href="https://web.archive.org/web/20190811211216cs_/https://d2qrjeyl4jwu9j.cloudfront.net/static/642cd772aad8e952/school/css/cc.css.gz.css">
        <script>
            var srv_tz_os = -4, 
            view_name = "school", 
            user_cookie_name = "u_info_school";
            var user_country = "US";
        </script>
        <!--[if lt IE 9]>
            <script src="https://d2qrjeyl4jwu9j.cloudfront.net/static/642cd772aad8e952/go/js/lib/html5shiv.js.gz.js"></script>
        <![endif]-->
        <script src="https://web.archive.org/web/20190811211216js_/https://d2qrjeyl4jwu9j.cloudfront.net/static/642cd772aad8e952/school/js/common_combined.js.gz.js"></script>
        <script type="text/javascript" src="https://web.archive.org/web/20190811211216js_/https://d2qrjeyl4jwu9j.cloudfront.net/static/642cd772aad8e952/go/po/goserver_js-en_US.json.gz.json">

        </script>
        <script type="text/javascript">
            var I18N_LANG = 'en_US';
            var GT = new Gettext({'locale_data': json_locale_data});
        </script>
        <script src="https://web.archive.org/web/20190811211216js_/https://goanimate4schools.com/ajax/cookie_policy" async=""></script>
        <!-- Google Knowledge Graph -->
        <script type="application/ld+json">
            {
                "@context": "https://web.archive.org/web/20190811211216/http://schema.org",
                "@type": "Organization",
                "name": "GoAnimate",
                "url": "https://web.archive.org/web/20190811211216/http://goanimate.com",
                "logo": "https://web.archive.org/web/20190811211216/http://gawpstorage.s3.amazonaws.com/img/google_knowledge_graph_logo.jpg",
                "sameAs": [
                    "https://web.archive.org/web/20190811211216/http://www.facebook.com/GoAnimateInc",
                    "https://web.archive.org/web/20190811211216/http://twitter.com/GoAnimate",
                    "https://web.archive.org/web/20190811211216/http://www.linkedin.com/company/goanimate",
                    "https://web.archive.org/web/20190811211216/http://plus.google.com/+goanimate",
                    "https://web.archive.org/web/20190811211216/http://www.youtube.com/user/GoAnimate"
                ]
            }
        </script>
    </head>
    <body class="page-action-character_creator">
        <script type="text/javascript">
            if (self !== top) jQuery('body').hide();
        </script>
        <%- include("includes/header.ejs", {
            isVideoList: true
        }) %>
        <div class="container container-cc">
            <ul class="breadcrumb">
                <li><a href="/create">Make a video</a></li>
                <%- charOrder.html %>
            </ul>
            <%- charOrder.msg %>
            <div id="<%= attrs.id %>_container" align="center">
                You can't use GoAnimate because Flash might be disabled. <a href="https://get.adobe.com/flashplayer/">Enable Flash</a>.
            </div>
            <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-app.js"></script>
            <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-auth.js"></script>
            <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/init.js"></script>
            <script src="/js/user.js"></script>
            <script>
                function loadCC(userInfo) {
                    jQuery.getJSON("/api/convertUrlQuery2JSON?<%= flashvarsString %>", (d) => {
                        const flashvars = JSON.parse(JSON.stringify(d).split("amp;").join(""));
                        flashvars.userId = userInfo.uid;
                        flashvars.username = userInfo.displayName;
                        flashvars.uemail = userInfo.email;
                        jQuery('#<%= attrs.id %>_container').flash({
                            id: "<%= attrs.id %>",
                            swf: "<%= attrs.data %>",
                            height: "<%= attrs.height %>",
                            width: "<%= attrs.width %>",
                            align: "middle",
                            allowScriptAccess: "always",
                            allowFullScreen: "true",
                            wmode: "transparent",
                            hasVersion: "10.3",
                            flashvars
                        });
                    });
                }
                function characterSaved() {
                    window.location.href = '/cc_browser?themeId=<%= params.flashvars.themeId %>';
                }
            </script>
        </div>
        <%- include("includes/footer.ejs") %>
        <div id="studio_container" style="display: none;">
            <div id="studio_holder"><!-- Full Screen Studio -->
                <div style="top: 50%; position: relative;">
                    You can't use GoAnimate because Flash might be disabled. <a href="https://get.adobe.com/flashplayer/">Enable Flash</a>.
                </div>
            </div>
        </div>
    </body>
</html>