<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - GoNexus</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="title" content="<%= title %> - GoNexus">
        <meta name="video_height" content="354">
        <meta name="video_width" content="550">
        <meta name="video_type" content="application/x-shockwave-flash">
        <meta name="medium" content="video">
        <meta property="og:type" content="article">
        <meta property="og:title" content="<%= title %>">
        <meta property="og:video:height" content="354">
        <meta property="og:video:width" content="550">
        <meta property="og:video:type" content="application/x-shockwave-flash">
        <meta name="twitter:card" content="player">
        <meta name="twitter:title" content="<%= title %>">
        <meta name="twitter:player:height" content="349">
        <meta name="twitter:player:width" content="620">
        <meta property="og:site_name" content="GoNexus">
        <meta property="fb:app_id" content="177116303202">
        <meta name="google-site-verification" content="K_niiTfCVi72gwvxK00O4NjsVybMutMUnc-ZnN6HUuA">
        <style>
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                src: local('Lato Regular'), local('Lato-Regular'), url(/ui/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
            }
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                src: local('Lato Bold'), local('Lato-Bold'), url(/ui/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
            }
        </style>
        <link rel="stylesheet" href="/ui/css/common_combined.css">
        <link href="/ui/css/movie.css" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            var srv_tz_os = -4, view_name = "go", user_cookie_name = "u_info";
        </script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-app.js"></script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-auth.js"></script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/init.js"></script>
        <script src="/js/user.js"></script>
        <script src="/js/common_combined.js"></script>
        <script src="/lvm_files/go/js/jquery/jquery.swfobject.min.js"></script>
        <script src="/lvm_files/go/js/jquery/jquery.blockUI-2.66.0.js"></script>
        <script src="/lvm_files/go/js/jquery/jquery.scrollTo.min.js"></script>
        <script src="/lvm_files/go/js/Gettext.js"></script>
        <script type="text/javascript" src="/lvm_files/go/po/goserver_js-en_US.json"></script>
        <script type="text/javascript">
            var I18N_LANG = 'en_US';
            var GT = new Gettext({'locale_data': json_locale_data});
        </script>
    </head>
    <body class="en_US">
        <script type="text/javascript">
            if (self !== top) jQuery('body').hide();
        </script>
        <div class="page-container">
            <!-- HEADER -->
            <%- include("includes/header.ejs", {
                isVideoList: true
            }); %>
            <!-- END OF HEADER -->
            <div id="video-page">
                <div class="video-top">
                    <div class="container">
                        <div class="row">
                            <ul class="breadcrumb">
                                <li><a href="/movies">Your Videos</a></li>
                                <li class="active movie-title"></li>
                            </ul>
                            <div class="col-sm-6 video-left">
                                <div class="status-container">
                                    <div class="vthumb-container">
                                        <div class="vthumb">
                                            <div class="vthumb-clip"><div class="vthumb-clip-inner"><span class="valign"></span><img src="/movie_thumbs/<%= params.flashvars.movieId %>.png" id="movie-alt-title"></div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="video-top-content clearfix">
                                    <div class="pull-left video-info">
                                        <h1 class="movie-title"></h1>
                                        By <a id="user-link"></a>                     
                                    </div>
                                    <div class="video-top-status"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-main">
                    <div class="container">
                        <div class="video-main-content">
                            <div class="video-header hide clearfix"></div>
                            <div class="video-content">
                                <div class="player-container">
                                    <meta name="medium" content="video"/>
                                    <div style="position:relative">
                                        <div id="playerdiv" align="center" style="width:620px;height:349px;">
                                            This content requires the Adobe Flash Player 10.3. <a href="https://get.adobe.com/flashplayer/">Get Flash</a>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        var playerApiReady = false;
                                        function playerLoaded() {
                                            playerApiReady = true;
                                            jQuery(document).trigger('playerApiReady');
                                        };
                                    </script>				
                                </div>
                            </div>
                            <div class="video-actions">
                                <span class="divider owner-button" style="display: none;">|</span>
                                <a data-target="#editVideoModal" data-toggle="modal" href="#" class="owner-button" style="display: none;">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                                <span class="divider">|</span>
                                <a data-target="#movieShareModal" data-toggle="modal" href="#">
                                    <span class="glyphicon glyphicon-share"></span> Share
                                </a>
                                <span class="divider">|</span>
                                <a data-target="#videoExportModal" data-toggle="modal" href="#">
                                    <span class="glyphicon glyphicon-export"></span> Export
                                </a>
                                <span class="divider">|</span>
                                <a data-target="#deleteVideoModal" data-toggle="modal" href="#" class="owner-button" style="display: none;">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </a>
                                <span class="divider owner-button" style="display: none;">|</span>
                            </div>
                        </div>
                        <div class="video-main-aside" id="player-aside"></div>
                    </div>
                </div>
            </div>
            <div id="videoExportModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content" id="isAdmin" style="display: block;">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Export Your Video</h4>
                        </div>
                        <div class="modal-body">                
                            <p>Convert your video into an mp4 file in just one click.</p>
                            <div class="video-export-container" style="height: 120px;">    
                                <div class="video-export-quality-box clearfix 480p">            
                                    <div class="video-export-action">            
                                        <div class="btn-group" id="videoExporterReady">
                                            <button class="btn btn-orange" onclick="exportVideo('download')">Download Video</a>
                                            <button class="btn btn-orange dropdown-toggle" data-toggle="dropdown">More Options<span class="caret"></span></button>
                                            <ul class="dropdown-menu" style="text-align:left;">    
                                                <li><a href="javascript:;" onclick="exportVideo('dafunk')">Publish Video To Da Funk</a></li>    
                                                <li><a href="javascript:;" onclick="exportVideo('youtube')">Publish Video To YouTube</a></li>    
                                                <li><a href="javascript:;" onclick="exportVideo('email')">Send This Video To A Friend</a></li>
                                            </ul>
                                        </div> 
                                        <div class="btn-group" id="videoExporting" style="display: none;">
                                            <p>Exporting Your Video...</p>
                                            <object data="/static/exporter.swf" type="application/x-shockwave-flash" id="exporterdiv" width="320" height="180">
                                                <param name="allowScriptAccess" value="always">
                                                <param name="flashvars" value="autostart=1&amp;isWide=1&amp;ut=60&amp;isPreview=1&amp;movieId=<%= params.flashvars.movieId %>&amp;apiserver=%2F&amp;storePath=%2Fstatic%2Fstore%2F%3Cstore%3E&amp;clientThemePath=%2Fstatic%2F%3Cclient_theme%3E">
                                                <param name="movie" value="/static/exporter.swf">
                                                <param name="wmode" value="opaque">
                                            </object>
                                        </div>       
                                    </div>    
                                </div>
                            </div>
                            <p>Note: Converting a video usually takes under an hour (unless your video is longer than 10 minutes). Submit a bug report to dafunk in case of trouble.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>    
                    </div><!--
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Admins Only Feature</h4>
                        </div>
                        <div class="modal-body">                
                            <p>Only users who aren't students and teachers can export this video due to safety reasons with a school that you may be attending/working at right now. 
                                Please login to youe GoNexus account as a regular user.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>    
                    </div>-->
                </div>
            </div>
            <div id="movieShareModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Share video</h3>
                        </div>
                        <div class="modal-body">
                            <h4 class="compact">Share a link to this video</h4>
                            <p>Users who are logged in to GoNexus can watch this video.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">URL</span>
                                        <textarea class="form-control gtm-ga-event" type="text" data-gtmv-action="Share - Click text field" data-gtmv-category="" data-gtmv-label="10753900 - Guest" onclick="this.focus(); this.select(); restrictSizeChange()" readonly="" style="margin: 0px; width: 515px; height: 36px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="deleteVideoModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Delete video</h3>
                        </div>
                        <div class="modal-body">
                            <h4 class="compact">Are you sure that you want to delete this video?</h4>
                            <p style="color: red;">There is no turning back if you do this!</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                            <button class="btn btn-default" style="background-color: red;" type="button" onclick="deleteMovie()">Delete Video (NOT RECOMMENDED)</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="videoLoadingModal" class="modal on in" aria-hidden="false" style="display: block;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><h3 class="modal-title">Loading video...</h3></div>
                        <div class="modal-body">This should not take long at all.</div>
                    </div>
                </div>
            </div>
             <div id="editVideoModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><h3 class="modal-title">Loading video...</h3></div>
                        <div class="modal-body">This should not take long at all.</div>
                    </div>
                </div>
            </div>
            <div id="autosave-overlay" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 class="modal-title">Your video was autosaved</h3>
                        </div>
                        <div class="modal-body">
                            Your video has been autosaved. because of that, you basicly have 2 versions of your video that you can choose to load.
                            For some, loading your video from a manual save is the best idea to prevent any hacking scares.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default text-uppercase manual-save">Manually saved</button>
                            <button class="btn btn-default btn-orange text-uppercase autosave">Load autosaved</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                const id = "<%= params.flashvars.movieId %>";
                let currentFrame;
                const player = $("#exporterdiv")[0];
                function nextFrame() {
                    player.seekFrame(currentFrame++);
                }
                function playAndPause() {
                    player.play();
                    setTimeout(() => player.pause(), 100)
                }
                function notifyMovieEnded() {
                    sendFramesToServer();
                }
                function sendFramesToServer() {
                    const scenes = player.getSceneInfoArray();
                    /** @type {string[]} */
                    const frames = player.getPhotoArray();
                    for (const scene of scenes) {
                        frames.splice(scene.startFrom, 1);
                    }
                    $.ajax({
                        url: "/api/videoExport/completed",
                        method: "POST",
                        data: JSON.stringify({
                            frames,
                            id,
                        }),
                        dataType: "json",
                        contentType: "application/json",
                        success(d) {
                            $("#exporterdiv").unblock()
                            if (!d.success) {
                                $("#videoExportModal").modal('hide');
                                $("#videoExporting").hide();
                                $("#videoExporterReady").show();
                                displayFeedback(1 + d.msg);
                            } else console.log(d);
                        },
                        fail() {
                            displayFeedback(1 + "Error contacting the server")
                        }
                    })
                }
                function exportVideo(i) {
                    $("#videoExporterReady").hide();
                    $("#videoExporting").show();
                    $("#exporterdiv").attr("data-video-export", i).block({
                        message: null
                    });
                    currentFrame = 0;
                }
                $("#editVideoModal").on("show.bs.modal", () => {
                    jQuery.post("/api/check4MovieAutosaves", {mId: '<%= params.flashvars.movieId %>'}, (d) => setTimeout(() =>{
                        if (JSON.parse(d).isAutosaved) {
                            $("#editVideoModal").hide().removeClass("in").removeClass("on");
                            $("#autosave-overlay").show().addClass("in").addClass("on");
                        } else window.location.href = `/go_full?movieId=<%= params.flashvars.movieId %>`;
                    }, 5000));
                })
                $(".manual-save").click(() => {
                    location.href = "/go_full?movieId=<%= params.flashvars.movieId %>";
                });
                $(".autosave").click(() => {
                    location.href = "/go_full?loadFromAutosave=true&movieId=<%= params.flashvars.movieId %>";
                })
                function restrictSizeChange() {
                    $(".form-control, .gtm-ga-event").css("margin", "0px").css("width", "515px").css("height", "36px");
                }
                $(".form-control, .gtm-ga-event").val(`${window.location.origin}/videos?movieId=<%= params.flashvars.movieId %>`);
                jQuery.post("/api/getAllUsers", d => setTimeout(() => {
                    for (const f of d) {
                        const meta = f.movies.find(i => i.id == '<%= params.flashvars.movieId %>');
                        const movieTitleElement = document.getElementsByClassName('movie-title');
                        for (const elem of movieTitleElement) elem.innerHTML = meta.title;
                        jQuery("#user-link").html(f.name);
                        if (f.id == (userData.uid || userData.id)) $(".owner-button").show();
                        jQuery.getJSON("/api/convertUrlQuery2JSON?<%= flashvarsString%>", (d) => {
                            const flashvars = JSON.parse(JSON.stringify(d).split("amp;").join(""));
                            flashvars.movieOwner = f.name;
                            flashvars.movieOwnerId = f.id;
                            flashvars.userId = userData.uid || userData.id;
                            flashvars.username = userData.displayName || userData.name;
                            flashvars.uemail = userData.email;
                            jQuery('#playerdiv').flash({
                                id: "Player",
                                swf: "<%= params.swf %>",
                                height: 349,
                                width: 620,
                                bgcolor: "#000000",
                                scale: "exactfit",
                                allowScriptAccess: "always",
                                allowFullScreen: "true",
                                wmode: "opaque",
                                hasVersion: "10.3",
                                flashvars 
                            });
                            $("#videoLoadingModal").hide().removeClass("in").removeClass("on");
                        });
                    }
                }, 5000));
            </script>
            <!-- FOOTER -->
            <%- include("includes/footer.ejs") %>
            <div id="studio_container" style="display: none;">
                <div id="studio_holder"><!-- Full Screen Studio -->
                    <div style="top: 50%; position: relative;">
                        This content requires the Adobe Flash Player 10.3. <a href="https://get.adobe.com/flashplayer/">Get Flash</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF PAGE STRUCTURE -->
    </body>
</html>