<!-- saved from url https://ga.vyond.com/player/embed/01j4ikX9V8AE and it's ment to archive vyond's embed html 5 video player. -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="https://josephanimate2021.github.io">

    <title>
        <%= title %>
    </title>

    <meta name="robots" content="noindex, nofollow">
    <meta name="google-site-verification" content="K_niiTfCVi72gwvxK00O4NjsVybMutMUnc-ZnN6HUuA">

    <link href="https://josephanimate2021.github.io/fonts/1/sailec.css" rel="stylesheet" type="text/css">
    <link href="https://josephanimate2021.github.io/static/55910a7cd204c37c/go/css/common_combined.css.gz.css"
        rel="stylesheet" type="text/css">
    <link href="https://josephanimate2021.github.io/static/55910a7cd204c37c/go/css/embed_player_h5.css.gz.css"
        rel="stylesheet" type="text/css">

    <script src="https://josephanimate2021.github.io/static/55910a7cd204c37c/go/js/jquery/jquery-1.11.1.min.js.gz.js"></script>
</head>
<body>
    <div class="player-container">
        <div class="video-player-viewport"
            style="background-image: url('/movie_thumbs/<%= params.flashvars.movieId %>.png');">
            <div class="video-player-wrapper">
                <object id="miniobject" data="/static/exporter.swf" height="100%" width="100%"></object>
                <video class="hidden" id="h5-player"></video>
            </div>
            <div class="video-loading" id="video-loading" style="display: block;">
                <div class="video-loading-message">This video is currently loading right now. please wait for a few minutes.</div>
            </div>
            <div id="player-control" style="display: none;">
                <div class="seek-bar-container">
                    <div class="seek-bar">
                        <div class="buffered-bar"></div>
                        <div class="hover-bar"></div>
                        <div class="played-bar"></div>
                        <div class="time-tooltip"></div>
                    </div>
                </div>
                <div class="button-container">
                    <div class="playback-button paused">
                        <div class="play-button"></div>
                        <div class="pause-button"></div>
                        <div class="replay-button"></div>
                    </div>
                    <div class="progress-time-container">
                        <div class="progress-time"></div>
                    </div>
                    <div class="controls-right">
                        <div class="volume-container">
                            <div class="volume-control">
                                <div class="volume-icon">
                                    <div class="volume-up-icon"></div>
                                    <div class="volume-mute-icon"></div>
                                </div>
                                <div class="volume-slider">
                                    <div class="slider-track">
                                        <div class="track-value-bar"></div>
                                    </div>
                                    <div class="slider-thumb"></div>
                                </div>
                            </div>
                        </div>
                        <div class="fullscreen-container">
                            <div class="fullscreen-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://josephanimate2021.github.io/static/55910a7cd204c37c/go/js/embed_player.js.gz.js"></script>
</body>
<script>
    function check4FlashPlayer() {
        try {
            var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
            if (fo) return true;
        } catch (e) {
            if (navigator.mimeTypes && navigator.mimeTypes['application/x-shockwave-flash'] != undefined && navigator.mimeTypes['application/x-shockwave-flash'].enabledPlugin) {
                return true;
            }
        }
        return false;
    }
    function toAttrString(table) {
        return typeof table == "object"
            ? Object.keys(table)
                    .filter((key) => table[key] !== null)
                    .map((key) => `${encodeURIComponent(key)}=${encodeURIComponent(table[key])}`)
                    .join("&")
            : table.replace(/"/g, '\\"');
    }
    function toParamString(table) {
        return Object.keys(table)
            .map((key) => `<param name="${key}" value="${toAttrString(table[key])}">`)
            .join(" ");
    }
    const player = $("#miniobject");
    let currentFrame = 1;
    function nextFrame() {
        player[0].seekFrame(currentFrame++);
    }
    $.getJSON(`/api/convertUrlQuery2JSON?<%= flashvarsString %>`, (d) => {
        const flashvars = JSON.parse(JSON.stringify(d).split("amp;").join(""));
        flashvars.autostart = "1";
        flashvars.isEmbed = "1";
        player.html(toParamString({
            flashvars,
            allowScriptAccess: "always"
        }));
    });
    function playAndPause() {
        player[0].play();
        setTimeout(() => player[0].pause(), 100)
    }

    function notifyMovieEnded() {
        sendFramesToServer();
    }

    function sendFramesToServer() {
        const scenes = player[0].getSceneInfoArray();
        const frames = player[0].getPhotoArray();
        for (const scene of scenes) frames.splice(scene.startFrom, 1);
        $.ajax({
            url: "/api/videoExport/completed",
            method: "POST",
            data: JSON.stringify({
                frames,
                id: '<%= params.flashvars.movieId %>',
                isEmbed: true
            }),
            dataType: "json",
            contentType: "application/json"
        }).done((d) => { // notify the h5 player that the video is ready.
            if (d) {
                $("#h5-player").html(`<source src="${d.videoUrl}" type="video/mp4">`);
                player.addClass("hidden");
                $("#video-loading").hide();
                $(".video-loading-message").text("");
                $("#player-control").show();
            } else $(".video-loading-message").text("could not fetch this video. please try again later.")
        });
    }
    $.post("/api/checkXml4Audio", {
        videoId: '<%= params.flashvars.movieId %>',
        isPreview: '0'
    }).done(d => {
        const json = JSON.parse(d);
        if (json.xmlDoesContainAudio) location.href = '/player?movieId=<%= params.flashvars.movieId %>&isEmbed=true';
    });
    if (!check4FlashPlayer()) {
        $.post("/api/check4ExportedMovieExistance", {id: '<%= params.flashvars.movieId %>'}).done(d => {
            player.addClass("hidden");
            const json = JSON.parse(d);
            if (json.exists) {
                $("#h5-player").html(`<source src="/movies/<%= params.flashvars.movieId %>.mp4" type="video/mp4">`);
                $("#video-loading").hide();
                $(".video-loading-message").text("");
                $("#player-control").show();
            } else $(".video-loading-message").html("You don't have adobe flash player and an exported version of this movie does not exist. <br>please ask someone with flash player to export this movie for you.");
        })
    }
</script>
</html>
